@model Semicolon.Auth.Models.ViewModels.Account.UserModel
@{
	ViewData["Title"] = "My account";
	Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div class="pt-4 container-lg clearfix flex-row flex-column">
	<div class="col-3 float-left">
		<partial name="_NavigationPartialView" />
	</div>
	<div class="col-8 float-right">
		<div class="Subhead">
			<div class="Subhead-heading">Profile</div>
		</div>
		<form method="post" class="col-12" asp-action="My">
			<div asp-validation-summary="All" class="text-danger mt-2"></div>

			<div class="form-group">
				<div class="form-group-header">
					<label for="form-horizontal-text">Email address</label>
				</div>
				<div class="form-group-body">
					<input class="form-control input-block" id="form-horizontal-text" type="email" asp-for="Email">
				</div>
			</div>

			<div class="form-group">
				<div class="form-group-header">
					<label for="form-horizontal-text">User name</label>
				</div>
				<div class="form-group-body">
					<input class="form-control input-block" id="form-horizontal-text" type="text" asp-for="UserName">
				</div>
			</div>

			<div class="form-actions mt-2">
				<button type="submit" class="btn btn-primary">Save changes</button>
				<a role="button" class="btn" asp-action="My">Cancel</a>
			</div>
		</form>
	</div>
</div>