@model Semicolon.Auth.Models.ViewModels.Auth.LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}


<form method="post" asp-action="Login" class="Box Box--spacious mx-auto mt-10 col-6">
    <div class="Box-body">
        <h3 class="f1-light">Log in</h3>

        <div class="form-group">
            <div asp-validation-summary="All" class="text-red ml-3"></div>
        </div>

        <div class="form-group">
            <div class="form-group-header">
                <label for="email-addr">Email address</label>
            </div>
            <div class="form-group-body">
                <input class="form-control" type="email" id="email-addr" asp-for="Email" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-group-header">
                <label for="password">Password</label>
            </div>
            <div class="form-group-body">
                <input class="form-control" type="password" id="password" asp-for="Password" />
            </div>
        </div>

        <button class="btn btn-primary mt-2" type="submit">Submit</button>
        <a asp-action="Register" class="btn btn-link mt-2 ml-3" role="button">Go register</a>
    </div>
</form>
