@model Semicolon.Auth.Models.ViewModels.Account.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div style="width: 60%; margin: 0 auto; margin-top: 10%">
    <form method="post" class="uk-form-horizontal uk-card-hover uk-margin-large uk-card-body" asp-action="ChangePassword">
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">Change Password</legend>

            <div asp-validation-summary="All" class="uk-text-danger" style="margin-top: 15px"></div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Old Password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="password" asp-for="OldPassword">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">New Password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="password" asp-for="NewPassword">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Confirm New Password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="password" asp-for="ConfirmNewPassword">
                </div>
            </div>

            <div class="uk-margin">
                <button type="submit" class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom">Confirm Change Password</button>
                <a class="uk-button uk-button-link" asp-action="My">Go Back</a>
            </div>
        </fieldset>
    </form>
</div>