@model Semicolon.OnlineJudge.Models.ViewModels.Home.IndexModel
@{
    ViewData["Title"] = "主页";
}

<div class="container-fluid">
    <div class="row">
        <div class="info-box col-md-5">
            <span class="info-box-icon bg-warning"><i class="fas fa-chart-pie"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">你的提交总数</span>
                <span class="info-box-number">@ViewData["ProblemsSubmitted"]</span>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="info-box col-md-5">
            <span class="info-box-icon bg-primary"><i class="fas fa-chart-line"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">你通过的题目的总数</span>
                <span class="info-box-number">@ViewData["ProblemsPassed"]</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="info-box col-md-5">
            <span class="info-box-icon bg-info"><i class="fas fa-clock"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">当前时间 (UTC)</span>
                <span class="info-box-number">@Model.TimeNow</span>
            </div>
        </div>
    </div>
    <div class="row">
        <form method="get" asp-controller="Problemset" asp-action="Search" class="col-md-11">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">搜索</h3>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <input name="content" type="text" class="form-control" placeholder="搜索内容" />
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-info btn-flat">前往</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>