@model Semicolon.OnlineJudge.Models.ViewModels.Problemset.IndexModel
@{
    ViewData["Title"] = "Problemset";
}

<div class="row">
    <div class="col-md-9">
        <table class="table table-condensed table-head-fixed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Pass rate</th>
                    <th>History</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var problem in Model.ProblemModels)
                {
                    <tr>
                        <td>@problem.Id</td>
                        <td>@problem.Title</td>
                        <td>@problem.PassRate.ToString()</td>
                        <td>None</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <form method="get" asp-action="Search">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Search</h3>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <input name="content" type="text" class="form-control" placeholder="Content" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-search"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" style="margin-top: 10px">Go</button>
                </div>
            </div>
        </form>
    </div>
</div>