@model Semicolon.OnlineJudge.Models.ViewModels.Problemset.IndexModel
@{
    ViewData["Title"] = "搜索";
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <table class="table table-condensed table-head-fixed table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">标题</th>
                            <th scope="col">通过率</th>
                            <th scope="col">历史记录</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var problem in Model.ProblemModels)
                        {
                            <tr>
                                <td>@problem.Id</td>
                                <td><a asp-action="Details" asp-route-id="@problem.Id">@problem.Title</a></td>
                                <td>@problem.GetPassRate().ToString()</td>
                                <td>还没有显示信息</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <form method="get" asp-action="Search">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">搜索</h3>
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input name="content" type="text" class="form-control" placeholder="Content" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-search"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" style="margin-top: 10px">前往</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    <h3 class="card-title">没有找到你想要的题目？</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary btn-block" asp-action="New">创建题目</a>
                </div>
            </div>
        </div>
    </div>
</div>
