.text-red {
    color: red;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    background-color: lightgray;
    color: dimgrey;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
