@model Semicolon.OnlineJudge.Models.ViewModels.Problemset.IndexModel
@{
    ViewData["Title"] = "Problemset";
}

<div class="row">
    <div class="col-md-8">
        <div class="Box">
            <div class="Box-body">
                <table class="table table-condensed table-head-fixed table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Pass rate</th>
                            <th scope="col">History</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var problem in Model.ProblemModels)
                        {
                            <tr>
                                <td>@problem.Id</td>
                                <td><a asp-controller="Problemset" asp-action="Details" asp-route-id="@problem.Id">@problem.Title</a></td>
                                <td>@problem.GetPassRate().ToUIString()</td>
                                <td>Nothing to show</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <form method="get" asp-action="Search">
                <div class="Box">
                <div class="Box-header">
                    <h3 class="Box-title">Search</h3>
                </div>
                <div class="Box-body">
                    <div class="form-group">
                        <input name="content" type="text" class="form-control" placeholder="Content" />
                        <button type="submit" class="btn btn-outline" style="margin-top: 10px">Go</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="Box mt-3">
            <div class="Box-header">
                <h3 class="Box-title">More</h3>
            </div>
            <div class="Box-body">
                <p><a asp-controller="Users" asp-action="ProblemsCreated">View problems you created</a></p>
                <p><a asp-action="New">Create a new problem</a></p>
            </div>
        </div>
    </div>
</div>
